:root {
    --color-01: #8b48bf;
    --color-02: white;
    --color-03: #fafafa;
    --color-04: #232C50;
    --color-05: #3a3939;
    --color-06: #B3B2B7;
    --color-07: #1e1e26;
    --color-08: #3CDDF3;
    --color-09: #8B48BF4D;
    --color-10: rgba(139, 72, 191, 0.3);
    --margin-main: 0 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--color-03);
}

header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin: var(--margin-main);
    margin-bottom: 100px;
}

button {
    border-radius: 50px;
    padding: 10px 20px;
    color: var(--color-02);
    border-style: none;
    background-color: var(--color-01);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}


header .header-nav,
header .logo {
    display: flex;
    align-items: center;
}

header .header-nav .icon {
    display: block;
    align-items: center;
}

header .desktop_button {
    display: none;
    align-items: center;

}

header .header-nav .menu {
    display: none;
}

header .header-nav .menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 0 15px;
}

header .header-nav a:hover {
    color: gray;
}

main .slider-container {
    display: flex;
    margin: var(--margin-main);
    margin-bottom: 95px;
    justify-content: space-between;
    text-align: right;
    flex-direction: column;
}


main .slider-container>div:first-child {
    text-align: center;
}

main .slider-container div img {
    width: 400px;
}

main .slider-container div button {
    text-align: center;
}

main .slider-container .slider-container-text h1 {
    font-size: 50px;
    color: var(--color-04);
}

main .slider-container .slider-container-text>div {
    color: var(--color-05);
    margin: 20px 0;
    font-size: 18px;
}

main .diff-section {
    display: flex;
    align-items: center;
    background-color: var(--color-08);
    color: var(--color-02);
    padding: var(--margin-main);
    margin-bottom: 50px;
    flex-direction: column;
}



main .diff-section>div {
    flex: 1 1 0;
    margin: 25px;
    text-align: left;
}

main .company-items li::before {
    counter-increment: item;
    content: "0" counter(item);
    background-color: var(--color-01);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--color-02);
    margin-right: 20px;
}


main .company-items ol {
    counter-reset: item;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-wrap: wrap;
}


main .company-items li {
    margin-left: 20px;
    margin-bottom: 40px;
}

main .company-items ol li h3 {
    display: block;
    font-size: 18px;
    background-color: var(--color-10);
    margin-top: -30px;
    padding: 8px 0 8px 80px;
    margin-left: 30px;
}

main .company-items li>div {
    margin-left: 82px;
    color: var(--color-06);
}

main .employee-list {
    text-align: center;
    background-color: var(--color-02);
    padding-bottom: 200px;
}

main .employee-list h2 {
    padding: 100px 50px;
    text-align: center;
    color: var(--color-04);
    margin-bottom: 50px;
    font-size: 39px;
}


main .employee-list .employee-wrapper {
    display: flex;
    margin: var(--margin-main);
    background-color: var(--color-03);
    margin-bottom: 40px;
    min-height: 250px;
    flex-direction: column;
}

main .employee-list button {
    width: 100px;
}

main .employee-list .employee-wrapper .employee {
    color: var(--color-06);
    padding: 10px;
    width: 100%;
}

main .employee-list .employee-wrapper .employee img {
    width: 100px;
    height: 100px;
    background-color: var(--color-07);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -50px;
}

main .employee-list .employee-wrapper .employee h3 {
    color: var(--color-04);
    margin-top: 20px;
    font-size: 18px;
}

main .employee-list .employee-wrapper .employee div {
    margin: 50px;
}

footer {
    color: var(--color-03);
}

footer .footer-info {
    display: flex;
    align-items: center;
    padding: var(--margin-main);
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: space-between;
    background-color: var(--color-08);
    flex-direction: column;

}

footer .footer-info>div:first-child {
    font-size: 40px;
    max-width: 800px;
}

footer .footer-info button {
    margin: 20px;
    background-color: var(--color-04);
    color: var(--color-03);
    box-shadow: 0px 3px 5px 0px var(--color-04);
    white-space: nowrap;
}

footer .footer-links {
    display: flex;
    background-color: var(--color-07);
    padding: 70px 50px;
    flex-direction: column-reverse;
}

footer .footer-links>div,
footer .footer-links>nav {
    flex: 1 1 0;
}

footer .footer-links .social {
    display: flex;
    flex-direction: column-reverse;
}

footer .footer-links .social .social-links {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

footer .footer-links .social .social-links a {
    text-decoration: none;
}

footer .footer-links .social .logo {
    display: block;
    margin: 0 auto;
}

footer .footer-links .social .social-links img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

footer .footer-links .footer-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

footer .footer-links .footer-nav a {
    display: block;
    color: var(--color-03);
    text-decoration: none;
    padding: 5px;
}

footer .footer-links .searching-box {
    text-align: right;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

footer .footer-links .searching-box form {
    display: flex;
}

footer .footer-links .searching-box input {
    color: var(--color-06);
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 5px;
    width: 100%;
}

footer .copyright {
    font-size: 13px;
    color: var(--color-06);
    margin-top: auto;
    background-color: var(--color-07);
    text-align: right;
    padding: 20px 20px 20px 0;
}


/* Versión Desktop */
@media (min-width:1000px) {
    header .header-nav .icon {
        display: none;
    }

    header .header-nav .menu {
        display: block;
    }

    header .desktop_button {
        display: flex;
    }

    main .slider-container {
        flex-direction: row;
    }

    main .diff-section {
        background-color: var(--color-01);
    }

    main .company-items li {
        max-width: 420px;
    }

    main .employee-list .employee-wrapper {
        margin: var(--margin-main);
        margin-bottom: 40px;
        min-height: 250px;
        flex-direction: row;
    }

    footer .footer-info {
        background-color: var(--color-01);
        padding-bottom: initial;
        padding-top: initial;
        flex-direction: row;
    }

    footer .footer-links {
        padding: var(--margin-main);
        padding-top: 70px;
        padding-bottom: 70px;
        flex-direction: row;
    }

    footer .footer-links .searching-box form {
        display: block;
    }

    footer .footer-links .searching-box input {
        width: initial;
    }

    footer .footer-links .social {
        display: flex;
        flex-direction: column;
    }

    footer .footer-links .social .logo {
        display: initial;
        margin: initial;
    }

    footer .footer-links .social .social-links {
        display: block;
        justify-content: initial;
    }

    main .slider-container div img {
        width: initial;
    }
}